<!-- Footer -->
<footer class="page-footer text-center text-lg-start blue text-muted">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold mb-4">Koyax Project</h6>
            <p>Diese Webseite wurde mit &nbsp;<img src="dist/img/ico/heart-fill.svg" class="mb-1" alt="heart-icon" />&nbsp; von <a href="https://samock.de">Samuel</a> erstellt.</p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold mb-4">Weitere Links</h6>
            <p>
              <img src="dist/img/ico/clipboard-data-fill.svg" class="mb-1" alt="analytics-icon" />&nbsp;
              <a href="https://zaehler.koyax.org/koyax.org" class="text-reset" target="_blank">Analytics</a>
            </p>
            <p>
              <img src="dist/img/ico/person-plus-fill.svg" class="mb-1" alt="contact-icon" />&nbsp;
              <a href="contact" class="text-reset">Kontakt</a>
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold mb-4">Rechtliches</h6>
            <p>
              <img src="dist/img/ico/shield-shaded.svg" class="mb-1" alt="privacy-icon" />&nbsp;
              <a href="privacy" class="text-reset">Datenschutz</a>
            </p>
            <p>
              <img src="dist/img/ico/house-fill.svg" class="mb-1" alt="imprint-icon" />&nbsp;
              <a href="imprint" class="text-reset">Impressum</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase font-weight-bold mb-4">Kontakt</h6>
            <p>
              <img src="dist/img/ico/people-fill.svg" class="mb-1" alt="matrix-icon" />&nbsp;
              <a href="https://matrix.to/#/#community:koyax.org" target="_blank" class="text-reset">Matrix Space</a>
            </p>
            <p>
              <img src="dist/img/ico/envelope-fill.svg" class="mb-1" alt="email-icon" />&nbsp;
              <a href='&#109;ailto&#58;mai&#37;6C&#64;&#107;%6&#70;&#121;ax&#46;or&#103;' class="text-reset">E-Mail</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4 shadow" style="background-color: rgba(0, 0, 0, 0.05);">
      &copy; 2023 Koyax Project
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->