    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index">Startseite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://monitor-koyax.lippesola.de/status/default" target="_blank">Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="donate">Unterstützen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">Über uns</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button type="button" class="btn btn-outline-info" onclick="window.location.href='https://account.koyax.org';">Koyax ID</button>
                </form>
            </div>
        </nav>
    </div>